.padded {
  padding-top: 50px;
}

.border-robot {
  border: 5px solid #5bc0de;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #5bc0de;
}

.robot-name {
 text-decoration: none;
 color: "ffffff";
}
