<div class="row well text-center">
<h1>Welcome to the Robot World</h1>
</div>

<div class="text-center padded centered">
<a href="/robots" class="btn-info btn-lg" >Robot Directory</a>
<a href="/robots/new" class="btn-success btn-lg">Make a New Robot</a>
</ul>
</div>
