<div class="row well text-center">
  <h1>Welcome to the Robot World</h1>
</div>


<div class="text-center padded centered">
  <a href="/robots" class="btn-info btn-lg" >Robot Directory</a>
  <a href="/robots/new" class="btn-success btn-lg">Make a New Robot</a>
</ul>
</div>

<div class="container">
  <h3>Statistics from Robot World</h3>
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <caption>Robots - Average Age</caption>
        <tr>
          <th class="text-center">Average Age for Robots</th>
          <tr>
            <td>1</td>
          </tr>
        </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <caption>Robots Hired - By Year</caption>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">Robots Hired</th>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
        </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <caption>Robots - By Department</caption>
          <tr>
            <th class="text-center">Department</th>
            <th class="text-center">Robots</th>
          <tr>
              <td>1</td>
              <td>2</td>
          </tr>
        </table>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <caption>Robots - By City</caption>
          <tr>
            <th class="text-center">City</th>
            <th class="text-center">Robots</th>
          <tr>
              <td>1</td>
              <td>2</td>
          </tr>
        </table>
      </div>
  </div>
</div>
