<form action="/robots" method="post">
  <div class="row well text-center">
  <h1>Make a new robot:</h1>
</div>

<div class="form-group col-md-6">
  name your robot<br />
  <input type='text' name='robot[name]'/><br/><br/>

  City<br />
  <input type='text' name='robot[city]'/><br/><br/>

  State<br />
  <input type='text' name='robot[state]'/><br/><br/>

  Avatar<br />
  <input type='text' name='robot[avatar]'/><br/><br/>

  Birthdate<br />
  <input type='text' name='robot[birthdate]'/><br/><br/>

  Date Hired<br />
  <input type='text' name='robot[date_hired]'/><br/><br/>

  Department<br />
  <input type='text' name='robot[department]'/><br/><br/>

  <input type='submit' value = "Make this Robot" class="btn btn-default"/>
</div>
</form>
