<form action="/robots" method="post">
  <div class="row well text-center">
  <h1>Make a new robot:</h1>
</div>

<div class="form-group col-md-6">
  name your robot<br />
  <input type='text' name='robot[name]'/><br/><br/>
  city<br />
  <input type='text' name='robot[city]'/><br/><br/>
  state<br />
  <input type='text' name='robot[state]'/><br/><br/>
  avatar<br />
  <input type='text' name='robot[avatar]'/><br/><br/>
  birthdate<br />
  <input type='text' name='robot[birthdate]'/><br/><br/>
  date hired<br />
  <input type='text' name='robot[date_hired]'/><br/><br/>
  department<br />
  <input type='text' name='robot[department]'/><br/><br/>
  <input type='submit' class="btn btn-default"/>
</div>
</form>
